@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600&family=Cinzel:wght@400;500;600&family=Cormorant+Garamond:wght@400;500;600;700&family=DM+Sans:wght@400;500;600&family=DM+Serif+Display&family=Inter:wght@400;500;600&family=Italiana&family=Lato:wght@400;700&family=Manrope:wght@400;500;600&family=Montserrat:wght@400;500;600&family=Plus+Jakarta+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");
  
@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --font-bodoni: "Bodoni Moda", serif;
  --font-manrope: "Manrope", sans-serif;

  --font-dm-serif: "DM Serif Display", serif;
  --font-dm-sans: "DM Sans", sans-serif;

  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;

  --font-italiana: "Italiana", serif;
  --font-montserrat: "Montserrat", sans-serif;

  --font-cinzel: "Cinzel", serif;
  --font-lato: "Lato", sans-serif;

  --font-poppins: "Poppins", sans-serif;
}